[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-tenant-schemas = "*"
psycopg2-binary = "*"
reportlab = "*"
celery = "*"
redis = "*"
stripe = "*"
paypalrestsdk = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-cors-headers = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.13"
